<script setup lang="ts">
import { useMapStore } from '@/stores/map';

const mapStore = useMapStore()

const handleClickAdd = () => {
    mapStore.startDraw()
}

</script>

<template>
    <div>
        <h1>Map Liste</h1>
        <button @click="handleClickAdd">Add</button>
    </div>
</template>

<style scoped>

</style>
