<script setup lang="ts">
import { onMounted, ref } from 'vue';
import L, { Map, Polygon } from 'leaflet'
import type { Feature } from 'geojson'
import '@geoman-io/leaflet-geoman-free';
import { tileLayer } from '@/helpers/leaflet'
import { useMapStore } from '@/stores/map';
import { useFeatureStore } from '@/stores/feature';

const featureStore = useFeatureStore()
const mapStore = useMapStore()
const mapElement = ref<HTMLDivElement>()

onMounted(() => {
    if (!mapElement.value) return;
    mapStore.map = L.map(mapElement.value).setView([48.8428698, 2.5875823], 13)
    if (mapStore.map instanceof Map)
        tileLayer.addTo(mapStore.map)
    mapStore.map.on('pm:create', (e) => {
        if (e.shape === 'Polygon') {
            const polygon = (e.layer as Polygon)
            featureStore.add(polygon)
        }
        
    });
})
</script>

<template>
    <div>
        <div id="map" ref="mapElement"></div>
    </div>
</template>

<style scoped>
#map {
    width: 100%;
    height: 100vh;
}
</style>
