<script setup lang="ts">
import LMap from '@/components/leaflet/LMap.vue'
import MapForm from '@/components/map/MapForm.vue';
import MapList from '@/components/map/list/MapList.vue'
import { storeToRefs } from 'pinia';
import { useFeatureStore } from '@/stores/feature'

const { isEditing } = storeToRefs(useFeatureStore())


</script>

<template>
  <div class="flex-row">
    <MapList class="vw25"></MapList>
    <LMap :class="{ 'vw75': !isEditing, 'vw50': isEditing }"></LMap>
    <MapForm
      v-if="isEditing"
      :class="{ 'hidden': !isEditing, 'vw25': isEditing }"
    ></MapForm>
  </div>
</template>

<style scoped>
.vw25 {
  width: 25vw;
}
.vw75 {
  width: 75vw;
}
.vw50 {
  width: 50vw;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.hidden {
  display: none;
}
</style>
