<script setup lang="ts">
import { useMapForm } from '@/composables/useMapForm'
// import { featureRepository } from '@/helpers/api';
import { AxiosError } from 'axios';

const {
    editing,
    properties,
    json,
    addAndFetch,
    addProp,
    setEditingProps
} = useMapForm()

const handleSubmit = async () => {
    if (!editing.value) return;
    setEditingProps()
    try {
        await addAndFetch(editing.value)
    }
    catch (err) {
        if (err instanceof AxiosError) {
            console.error(err)
        }
        else if (err instanceof Error) {
            console.error(err.message)
        }
    }
}

</script>

<template>
    <div>
        <h1>Map Form</h1>
        <button @click="addProp()">
            Add prop
        </button>
        <form @submit.prevent="handleSubmit">
            <div v-for="(prop, i) in properties" :key="i" class="flex-col">
                <div>
                    Name: <input type="text" v-model="prop.key" />
                </div>
                <div>
                    Value: <input type="text" v-model="prop.value" />
                </div>
                <hr>
            </div>
            <button type="submit">Submit</button>
        </form>
        <div>
            <h2>Properties</h2>
            <code><pre>{{ json }}</pre></code>
        </div>
    </div>
</template>

<style scoped>
.flex-col {
    display: flex;
    flex-direction: column;
}
</style>
